.glasstransparent {
	width: 70%;
	height: 5rem;
	box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);	
	border-radius: 5px;
	background-color: rgba(255, 255, 255, .15);
	backdrop-filter: blur(5px);
    margin: auto;
}

.navbar {
    position: fixed;
    z-index: 999;
    text-align: left;
    width: 98%;
    overflow: hidden;
    white-space: nowrap;
}

.project {
    text-align: center;
    overflow: hidden;
    height: 25em;
    width: 19em;
    float: left;
    margin-bottom: 1.875em;
    margin-left: 1.875em;
    transition: 0.5s;
    .launcher {
        visibility: hidden;
    }
}

.project:hover {
    transform: scale(1.05);
    .launcher {
        visibility: visible;
    }
}

.launcher {
width: 30%;
height: 3em;
box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);	
border-radius: 5px;
background-color: rgba(255, 255, 255, .15);
backdrop-filter: blur(5px);
margin: auto;
border: none; /* Removes the default button border */
color: #000; /* Changes the button text color to black */
transition: all 0.3s ease; /* Adds a transition effect when button state changes */
cursor: pointer;
}
.launcher:hover {
transform: scale(1.05); /* Slightly enlarges the button when hovered*/
}
.launcher:active {
transform: scale(1);
}

.member {
    width: 50em; 
    height: 17.5em; 
    margin-bottom: 1.875em;
}

.project-gamedesc {
    height: 30rem;
    width: 20rem;
    text-align: center;
    float: left;
    margin-bottom: 1.875em;
    margin-left: 1.875em;
    margin-top: 1.875em;
    margin-right: 1.875em;
}

.project-projiframe-div {
height: 30rem;
width: 50rem;
float: right;
display: flex;
justify-content: center; /* Centers horizontally */
align-items: center; /* Centers vertically if the parent div has a specified height */
margin-bottom: 1.875em;
margin-left: 1.875em;
margin-top: 1.875em;
margin-right: 1.875em;
}

.project-projiframe-iframe {
height: 29em;
width: 49em;
border-radius: 5px;
}

.project-fullscreen {
    position: absolute;
    z-index: 2;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    transform: translateY(44px) translateX(447px);
    height: 1.6em;
    width: 1.6em;
    border-radius: 3px;
}