body {
    background-color: black;
    font-family: 'Inconsolata';
    text-align: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: conic-gradient(rgb(161, 0, 255) 0%, rgb(113, 196, 255) 100%);
  }

a {
    color:azure;
    text-decoration: none;
}

a:hover {
    color: aliceblue;
    text-decoration: underline;
}